<div class="card">
    <div class="card-body">
        <strong>Tell us about yourself</strong>
        <p>{{review.about}}</p>
        <strong>Questions</strong>
        <div class="row mt-20">
            <div class="col-md-12" *ngFor="let qData of review.questions; let i = index;">
                <strong>{{i+1}} {{qData?.question}}</strong>
                <p *ngIf="qData?.paragraph">{{qData?.paragraph}}</p>
                <ul style="list-style: none;">
                    <ng-container *ngFor="let option of qData.options; let j=index;">
                        <li *ngIf="qData.answer.indexOf(j)>=0">{{option}}</li>
                    </ng-container>
                </ul>
            </div>
        </div>
        <button class="btn btn-primary btn-sm float-right" routerLink="/">Back To Form</button>
    </div>
</div>